@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url("../public/fonts/JetBrainsSans-Regular.woff2");
}

:root {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #4a4e69;
    text-align: center;
}

